html, body, div, span, applet, object, iframe,h1 ,h2 ,h3 ,h4 ,h5 ,h6 , p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%:
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%}
body {
    height: 100%;
    font: 14px/24px Arial, Tahoma, sans-serif;
    background-color: #ebebeb;
    text-align: center;
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}
ol,ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {text-decoration: none}


/*nav*/
.nav ul {
    float: left;
    width: 15%;
    background-color: #f1f1f1;
}
.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
}
.nav li a:hover {
    border-left: 3px solid #940000;
    background-color: #555;
    color: white;
}
.nav li a:active {
    background-color: rgb(53,53,53);
    color: white;
}
.nav li a::selection {
     background-color: #555;
    color: white;
}


/*table*/
.dashboard {
    float: left;
    margin-left: 1.5%;
    margin-top: 10px;
    width: 1000px;
}
.first {
    text-align: left;
}
button {
    background-color: #940000 ; 
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
button:active {
    background-color: rgb(92,0,0);
}

.second {
    margin-top: 30px;
}
.synchronized {
    padding: 10px;
    width: 355px;
    height: 150px;
    background-color: white;
    float: left;
    margin-right: 20px;
    
}
.incomplete {
    padding: 10px;
    width: 355px;
    height: 150px;
    background-color: white;
    float: left;
    margin-right: 20px;
}
.validated {
    padding: 10px;
    width: 355px;
    height: 150px;
    background-color: white;
    float: left;
}
.tables1 h1 {
    font-size: 200%;
    text-align: left;
    top: 10px;
}
.tables1 p {
    position: relative;
    bottom: -70px;
    left: 110px;
    font-size: 450%;
}



#chartdiv {
	width: 100%;
	height: 375px;
	margin-bottom: 150px;
}

.chart {
    width: 1055px;
    height: 717px;
    background-color: white;
    clear: left;
    margin-left: 17%;
    margin-bottom: 70px;
    padding: 20px;
}
.chart1 {
    margin-right: 10px;
    padding: 15px;
    width: 470px;
    height: 415px;
    border: 1px solid grey;
}

#chartdiv1 {
  width: 429px;
  height: 375px;
}	
.chart2 {
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px;
    width: 470px;
    border: 1px solid grey;
    height: 240px;
}


#chartdiv2 {
  width: 449px;
  height: 200px;
}

.chart3 {
    padding: 15px;
    width: 530px;
    height: 675px;
    margin-left: 487px;
    border: 1px solid grey;
    margin-top: -675px;
}






